VITE_WEB_URL=http://localhost:2233
VITE_API_URL=https://folo-api.1094712.xyz
VITE_IMGPROXY_URL=http://localhost:2873
VITE_SENTRY_DSN=
VITE_BUILD_TYPE=production
VITE_INBOXES_EMAIL=@follow.re

VITE_EDITOR=cursor
